@using Microsoft.Owin.Security
<div layout="column" layout-align="center center">
    <div class="all-landing-header" layout="row" layout-align="center center">
        <div class="landing-header" layout="row">
            <div class="landing-header-logo">
            </div>
            <div class="landing-title">SeChat</div>
        </div>
    </div>
    <div class="content-block">
        <div ui-view autoscroll="false">

        </div>
    </div>
</div>